@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Start of Fanfan */

body {
  color: #454545;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

.container {
  border: 1px solid red;
  max-width: 77.5rem;
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

.flex--gap {
  gap: 3.125rem;
}

.flex--gap-title {
  gap: 2.1875rem;
}

.flex--gap-icons {
  gap: 1.5625rem;
}

.flex--gap-hero-input {
  gap: 1.25rem;
}

.flex--gap-lestarikan-1 {
  gap: 55px;
}

.section__title {
  font-size: 2.625rem;
  font-weight: 700;
  text-align: center;

  position: relative;
}

.section__title::before {
  content: "";
  background: #f05454;
  width: 11rem;
  height: 1.0625rem;
  margin-left: 0.03125rem;
  opacity: 30%;

  position: absolute;
  bottom: -0.09375rem;
  z-index: -1;
}

.icons {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

.icons--red {
  filter: invert(51%) sepia(10%) saturate(6854%) hue-rotate(325deg)
    brightness(101%) contrast(96%);
}

.buttons {
  color: white;
  background: linear-gradient(76.2deg, #f95e5e 19.72%, #af2e2e 104.5%);
  border: none;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}

.buttons--populer {
  border-radius: 0.125rem;
  margin-right: 0.6875rem;
  padding: 0.125rem 0.5rem;
}

/* -Header- */

header {
  padding-top: 2.375rem;
}

.header__title {
  font-size: 2rem;
  cursor: pointer;
}

.header__title--gradient {
  background: linear-gradient(
    76.2deg,
    rgba(249, 94, 94, 1) 50%,
    rgba(205, 65, 65, 1) 100%
  );
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  font-weight: 700;
}

.header__nav {
  justify-content: space-between;
  width: 100%;
}

.header__nav ul li {
  list-style: none;
  cursor: pointer;
}

.header__nav a {
  color: inherit;
  text-decoration: none;
}

.header__nav--right {
  color: white;
}

/* -Hero- */

.hero {
  padding: 6.25rem 0;
  padding-bottom: 25rem;

  position: relative;
}

.hero--left {
  max-width: 30.625rem;
}

.hero__title {
  font-size: 3.25rem;
  line-height: 4.0625rem;
}

.hero__title--red {
  color: #f95e5e;
}

.hero__text {
  margin: 1.125rem 0 1.625rem 0;
  font-size: 1.5rem;
  line-height: 1.875rem;
}

.hero__input {
  display: flex;
  align-items: center;
  gap: 0.6875rem;
  border: 0.0625rem solid #cacaca;
  border-radius: 0.5rem;
  width: 95%;
  margin-bottom: 1.875rem;
  padding: 0 1rem;
}

.hero__input input {
  border: none;
  height: 100%;
  width: 100%;
  padding: 1.25rem 0;
  font-family: inherit;
  font-size: 1rem;
  outline: none;
}

/* -Hero Right Side- */

.hero--right {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 48.125rem;
  user-select: none;

  position: absolute;
  top: 4.9375rem;
  right: 0;
}

.hero--right > div {
  display: flex;
}

.hero--right img {
  height: 15.3125rem;
  width: 100%;
}

/* -Hero Background- */

.hero__background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.hero__background img {
  height: 53.875rem;
  width: 100%;
}

.hero__background::before {
  content: "";
  background: url("../images/hero-background-gradient.png") no-repeat;
  background-size: 100% 53.875rem;
  width: 100%;
  height: 100%;
  opacity: 0.9;

  position: absolute;
}

/* -Rasakan Section- */

.rasakan {
  margin-bottom: 14.0625rem;

  position: relative;
}

.rasakan__title {
  margin-bottom: 2.625rem;
}

.rasakan__video {
  margin: 0 auto;
}

.rasakan__video-row {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}

.rasakan__video-row--margin-bottom {
  margin-bottom: 1.25rem;
}

.rasakan__video-item {
  cursor: pointer;

  position: relative;
}

.rasakan__video-item img {
  display: block;
}

.rasakan__video-item::before {
  /* -Gray Overlay-*/
  content: "";
  background: #454545;
  border-radius: 0.9375rem;
  width: 100%;
  height: 100%;
  opacity: 0.4;

  position: absolute;
}

.rasakan__video-item::after {
  /* -Play Button- */
  content: "";
  background: url("../images/icons/play.svg") no-repeat;
  width: 4rem;
  height: 4rem;
  opacity: 0.75;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* -Rasakan Background- */

.rasakan__background {
  position: absolute;
  top: 1.25rem;
}

/* -Daerah Section- */

.daerah {
  margin-bottom: 14.0625rem;
}

.daerah__title {
  margin-bottom: 1.75rem;
}

.daerah__location {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.daerah__item {
  cursor: pointer;

  position: relative;
}

.daerah__item img {
  display: block;
  height: 100%;
  width: 100%;
}

.daerah__item::before {
  /* -Gray Overlay-*/
  content: "";
  background: #454545;
  border-radius: 0.9375rem;
  width: 100%;
  height: 100%;
  opacity: 0.5;

  position: absolute;
}

.daerah__item::after {
  /* -Text- */
  content: "";
  color: white;
  font-size: 1.5rem;
  font-weight: 700;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.daerah__item--yogyakarta::after {
  content: "Yogyakarta";
}

.daerah__item--jakarta::after {
  content: "Jakarta";
}

.daerah__item--bandung::after {
  content: "Bandung";
}

.daerah__item--papua::after {
  content: "Papua";
}

.daerah__buttons {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  border-radius: 0.5rem;
  margin: 0 auto;
  margin-top: 1.75rem;
  padding: 1.125rem 1.5rem;
}

.daerah__buttons img {
  width: 1rem;
  height: 0.875rem;
}

/* -Lestarikan Section- */

.lestarikan-1 {
  margin-bottom: 142px;
}

.lestarikan-1 img {
  display: block;
  height: auto;
  max-width: 100%;
}

.lestarikan-1__left {
  width: 30%;
}

.lestarikan-1__title {
  margin-bottom: 12px;
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
}

.lestarikan-1__title--red {
  color: #f95e5e;
}

.lestarikan-1__text {
  margin-bottom: 41px;
}

.lestarikan-1__buttons {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  padding: 18px 24px;
}

.lestarikan-1__buttons img {
  width: 1rem;
  height: 0.875rem;
}

.lestarikan-1__right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.lestarikan-1__right--row-2 {
  display: flex;
  gap: 20px;
}

.lestarikan-2 {
  background: linear-gradient(
      0deg,
      rgba(69, 69, 69, 0.6),
      rgba(69, 69, 69, 0.6)
    ),
    url("../images/lestarikan-background.png");
  background-size: 100% 100%;
  min-height: 541px;
}

/* End of Fanfan */

/* Start of Ikrom */
/*  */
/* End of Ikrom */

/* Start of Doni */
/*  */
/* End of Doni */
