@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Start of Fanfan */
/*  */
/* End of Fanfan */

/* Start of Ikrom */
/*  */
/* End of Ikrom */

/* Start of Doni */
/*  */
/* End of Doni */
