@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Start of Fanfan */

body {
  color: #454545;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

.container {
  border: 1px solid red;
  max-width: 1240px;
  width: 90%;
  margin: 0 auto;
}

.flex {
  border: 1px solid yellow;
  display: flex;
  align-items: center;
}

.flex--gap {
  gap: 50px;
}

.flex--gap-title {
  gap: 35px;
}

.flex--gap-icons {
  gap: 25px;
}

.icons {
  display: block;
  width: 20px;
  height: 20px;
  filter: invert(90%);
  cursor: pointer;
}

/* -Header- */

header {
  padding-top: 38px;
}

.header__title {
  font-size: 32px;
  cursor: pointer;
}

.header__title--gradient {
  background: linear-gradient(
    76.2deg,
    rgba(249, 94, 94, 1) 50%,
    rgba(205, 65, 65, 1) 100%
  );
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  font-weight: 700;
}

.header__nav {
  justify-content: space-between;
  width: 100%;
}

.header__nav ul li {
  list-style: none;
  cursor: pointer;
}

.header__nav a {
  color: inherit;
  text-decoration: none;
}

/* -Hero- */

.hero .container {
  padding: 100px 0;
}

/* End of Fanfan */

/* Start of Ikrom */
/*  */
/* End of Ikrom */

/* Start of Doni */
/*  */
/* End of Doni */
